@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url(../src/assets/font/BarlowSemiCondensed-Bold.ttf) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url(../src/assets/font/BarlowSemiCondensed-SemiBold.ttf) format('truetype');
  font-weight: 500;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* 
  hsl(214, 47%, 23%) to hsl(237, 49%, 15%)
*/

body {
  background: linear-gradient(
    180deg,
    hsl(214, 47%, 23%)  0%,
    hsl(237, 49%, 15%) 100%
  );
  background-repeat: no-repeat;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
ul,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}